    @import 'config';
    @import 'home';
    @import 'menu';
    @import 'about';
    @import 'projects';
    @import 'contact';
    @import 'responsive';
    @import 'fonts';
    @import 'signupform';
    @import 'buttons';
    body {
        background: $primaryColor;
        color: set-text-color($primaryColor);
        height: 100vh;
        font-family: $shapiro-feather;
        font-weight: 400;
        line-height: 1;
    }
    
    h1,
    h2,
    h3 {
        font-weight: 600;
    }
    
    a {
        color: set-text-color($primaryColor);
        text-decoration: none;
    }
    
    // .g_to_interact_with {
    //     fill: $orange;
    // }
    .text-secondary {
        color: $secondaryColor;
    }
    
    header {
        position: fixed;
        z-index: 2;
        width: 100%;
        padding: 1rem;
    }
    
    main {
        height: 100%;
        width: 100%;
        .social-icons {
            position: fixed;
            z-index: 2;
            top: 2rem;
            left: 2rem;
            a {
                padding: 0.4rem;
                @include transition-ease;
                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
    
    footer {
        font-size: 1rem;
        position: fixed;
        bottom: 0.4rem;
        right: 1rem;
        text-align: right;
        padding: 1rem;
        color: set-text-color($primaryColor);
    }